*{
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::root{
  --down-color: #0D0B37;
  --selected-color: #181469;
  --up-color: #8C8AB4;
}

.App {
  text-align: center;
  background: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-content: center;
  justify-content: center;
  background-image: url(../images/bgImg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.App>h1{
  color: #c8c8c8db;
  text-shadow: 1px 2px 2px rgba(60,60,60,.4);
}

.cards-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 400px;
  width: 400px;
  margin: 0 auto;
  gap: 10px;
  padding: 30px;

  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.card.down{
  background: #c8c8c8db;
}
.card.up{
  background: #8C8AB4; 
}
.card.selected{
  background: #FFBF1C; 
}

.btn-regame{
  width: 100px;
  height: 40px;
  font-size: 16px;
  padding: 5px;
  font-weight: bold;
  text-shadow: 1px 2px 2px rgba(60,60,60,.4);
  background: #0d0b37db;
  color: #c8c8c8db;
  cursor: pointer;


  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
